@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i);html {
  overflow-x: hidden;
}

body {
  background: #FAA38C;
  height: 100vh;
  font-family: "Karla", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-img {
  border-radius: 10px;
}

.text-dark {
  color: #000 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type=button] {
  -webkit-appearance: inherit;
}

.form-control {
  border-radius: 24px;
}

.main-container {
  height: 100vh;
  background: #FFF1ED;
  overflow-y: scroll;
}

.btn-submit {
  border-radius: 100px;
  background: #FAA38C;
  margin: 0px 4px;
}

.btn-cancel,
.btn-secondary {
  border-radius: 100px;
  background: white;
  margin: 0px 4px;
  color: #000;
  border: none;
}

.btn-dashboard {
  padding: 0.75rem;
  min-width: 75px;
}

.btn-dashboard:hover {
  background: #fff;
}

.btn-dashboard:not(:last-child) {
  margin-right: 32px;
}

.btn-dashboard img {
  height: 32px;
}

.no-link-style {
  color: inherit;
  text-decoration: none;
}

.no-link-style:hover {
  text-decoration: none !important;
}

.add-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAA38C;
  border-radius: 100%;
  font-size: 2rem;
  margin: 0 auto;
}

.add-button a {
  color: #fff;
}

.add-button a:hover {
  color: #FFF1ED;
}

.login-container {
  min-width: 400px;
  background: #fff;
  padding: 2rem 3rem;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

.login-container-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
}

.login-container input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px;
  border-width: 2px;
  padding-left: 2px;
}

.login-container__social {
  padding-bottom: 3rem;
}

.login-container__social--heading {
  padding: 1rem 0;
  text-align: center;
}

.login-container__social--buttons {
  display: flex;
  justify-content: space-around;
}

.login-container__social--buttons img {
  width: 40px;
  height: 40px;
}

.login-container__social--submit {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--dark);
  width: 100%;
  text-align: center;
  color: var(--light);
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 16px 0;
  text-transform: uppercase;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.about-main-container {
  height: 100vh;
}

.about-card {
  margin-top: 8%;
  position: relative;
}

.about-card .card-img {
  display: block;
  max-height: 400px;
}

.about-card .card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 10px;
}

.about-card .card .card-img-overlay .card-title {
  font-weight: 700;
}

.about-info-edit {
  height: 100vh;
}

.about-info-edit .card-img-overlay {
  top: auto;
  left: auto;
}

.schedule {
  height: 100vh;
}

.add-story {
  position: relative;
}

.view-story__add-button {
  background: #FAA38C;
}

.view-story__add-button a {
  color: #fff;
  transition: all 0.5s ease;
}

.view-story__add-button a:hover {
  color: #FFF1ED;
}

.dashboard--linkname {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.photo-album .card {
  display: block;
}

.photo-album .card img {
  display: block;
  cursor: pointer;
}

.photo-album .card .card-img-overlay {
  cursor: pointer;
  height: 30px;
  width: 30px;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}

.photo-album .card .card-img-overlay a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  -webkit-appearance: inherit !important;
  transition: all 0.5s ease;
}

.photo-album .card .card-img-overlay a:hover {
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.8);
}

