@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i);#before-loader {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100001;
  background: #FAA38C;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.share-clickable-button {
  position: fixed;
  bottom: 14px;
  right: 16px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
  z-index: 100;
}

.share-clickable-button:focus {
  outline: 0;
  outline: none;
}

.share-clickable-button-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 101;
}

.share-clickable-button-image:focus {
  outline: 0;
  outline: none;
}

.share-buttons--button {
  list-style: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #FAA38C;
  border-radius: 100%;
  cursor: pointer;
  z-index: 98;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.share-buttons--button:focus {
  outline: 0;
  outline: none;
}

.share-buttons--button--img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.share-buttons--button--img:focus {
  outline: 0;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  background: #FAA38C;
  height: 100vh;
  font-family: "Karla", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-img {
  border-radius: 10px;
  height: -webkit-fill-available;
}

.text-dark {
  color: #000 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

[type=button] {
  -webkit-appearance: inherit;
}

.form-group {
  position: relative;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.form-control:focus ~ #appended-text {
  top: -18px;
}

.form-control {
  margin-bottom: 20px;
  position: relative;
  border-radius: 24px;
  border-color: transparent;
  z-index: 2;
}

.form-control.login {
  border-bottom: 1px solid #ced4da;
}

.form-control.signup {
  border-bottom: 1px solid #ced4da;
}

a:active {
  box-shadow: none;
}

.main-container {
  height: 100vh;
  background: #FFF1ED;
  overflow-y: scroll;
}

.btn-submit {
  border-radius: 100px;
  background: #FAA38C;
  margin: 0px 4px 5px 4px;
}

.btn-cancel,
.btn-secondary {
  border-radius: 100px;
  background: white;
  margin: 0px 4px;
  color: #000;
  border: none;
}

.btn-dashboard {
  padding: 0.75rem;
  width: 85px;
}

.btn-dashboard:hover {
  background: #fff;
}

.btn-dashboard:not(:last-child) {
  margin-right: 32px;
}

.btn-dashboard img {
  height: 32px;
}

.action__button--left > a:not(:last-child) {
  margin-right: 20px;
}

.no-link-style {
  color: inherit;
  text-decoration: none;
}

.no-link-style:hover {
  text-decoration: none !important;
}

.add-button {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: #FAA38C;
  border-radius: 100%;
  font-size: 2rem;
  margin: 0 auto;
}

.add-button a {
  color: #fff;
}

.add-button a:hover {
  color: #FFF1ED;
}

.card-img {
  max-height: 300px;
}

.login-container {
  min-width: 400px;
  background: #fff;
  padding: 2rem 3rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

.login-container-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
}

.login-container input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px;
  border-width: 2px;
  padding-left: 2px;
}

.login-container__social {
  padding-bottom: 0.5rem;
}

.login-container__social--heading {
  padding: 1rem 0;
  text-align: center;
}

.login-container__social--buttons {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.login-container__social--buttons img {
  width: 40px;
  height: 40px;
}

.login-container__social--submit {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--dark);
  width: 100%;
  text-align: center;
  color: var(--light);
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 16px 0;
  text-transform: uppercase;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.about-main-container {
  height: 100vh;
}

.about-card {
  margin-top: 8%;
  position: relative;
}

.about-card .card-img {
  display: block;
  max-height: 400px;
}

.about-card .card .card-img-overlay {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: end;
          justify-content: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 10px;
}

.about-card .card .card-img-overlay .card-title {
  font-weight: 700;
}

.about-info-edit {
  height: 100vh;
}

.about-info-edit .card-img-overlay {
  top: auto;
  left: auto;
}

.schedule {
  height: 100vh;
}

.add-story {
  position: relative;
}

.view-story__add-button {
  background: #FAA38C;
}

.view-story__add-button a {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.view-story__add-button a:hover {
  color: #FFF1ED;
}

.dashboard--linkname {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.photo-album .card {
  height: 255px;
  display: block;
  margin-top: 10px;
}

.photo-album .card img {
  height: 100%;
  display: block;
  cursor: pointer;
}

.photo-album .card .card-img-overlay {
  cursor: pointer;
  height: 30px;
  width: 30px;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}

.photo-album .card .card-img-overlay a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  background: #fff;
  color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 100%;
  -webkit-appearance: inherit !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.photo-album .card .card-img-overlay a:hover {
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.8);
}

.web-view {
  overflow: hidden;
  padding: 0.75rem;
}

.web-view .preview-container {
  margin-top: -24px;
}

.web-view__buttons {
  padding: 1rem 0;
}

.web-view__container {
  height: 80vh;
  position: relative;
}

.web-view__container--preview {
  height: 80%;
}

.web-view__container--preview .web-preview {
  position: relative;
  display: -webkit-box;
  display: flex;
  height: 100%;
}

.web-view__container--preview .web-preview--img {
  width: 540px;
  height: 100%;
}

.web-view__container--preview .web-preview iframe {
  position: absolute;
  top: -76px;
  left: -450px;
  width: 1440px;
  height: 640px;
  -webkit-transform: scale(0.374, 0.562);
          transform: scale(0.374, 0.562);
}

.web-view__container--preview .mobile-preview {
  display: none;
}

.web-view__container--preview .mobile-preview--img {
  height: calc(1334px * 0.35);
  width: calc(750px * 0.35);
  display: block;
  margin: 0 auto;
}

.web-view__container--preview .mobile-preview iframe {
  width: 414px;
  height: 753px;
  position: absolute;
  top: -149px;
  left: 75px;
  -webkit-transform: scale(0.284, 0.258);
  transform: scale(0.525, 0.456);
}

.web-view__container--preview-select {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.web-view__container--preview-select-ul {
  display: -webkit-box;
  display: flex;
}

.web-view__container--preview-select-ul li {
  padding: 10px 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  list-style: none;
  width: 50%;
  cursor: pointer;
}

.web-view #mobile-preview {
  border-left: 1px solid black;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

#appended-text {
  position: absolute;
  top: 10px;
  left: 12px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.social-media-button-img {
  width: 40px;
  height: 40px;
}

.social-media-container {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: 1.5rem;
}

.social-media-list {
  list-style: none;
}

.share-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 500px;
  background: #fff;
  box-sizing: border-box;
  padding: 1rem;
}

#share-web-url small {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#share-web-url > input {
  border-color: #222529;
  cursor: pointer;
}

#share-web-url > input:focus {
  border: 1px solid;
  border-color: #222529;
}

#share-web-url > input:disabled {
  background: #fff;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.help-modal-background {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#help-message-box {
  border-color: #222529;
  border-radius: 0px;
}

#help-message-box:focus {
  border: 1px solid #222529;
}

.help-modal-send-button {
  margin: 0;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 0;
  padding: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  text-align: center;
}

.help-modal-send-button:hover {
  color: #fff;
}

.inportant-asterix {
  font-size: 15px;
  margin-left: 5px;
}

.mobile-navigation {
  display: none;
}

#mobile-in-landscape {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  background: #ced4da;
  display: none;
}

#mobile-in-landscape .in-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.mobile-heading-menu--container {
  display: none;
}

.dashboard-heading-mobile {
  display: none;
}

.dashboard-heading-pc {
  display: -webkit-box;
  display: flex;
}

.share-clickable-button {
  display: none;
}

.share-buttons-container {
  display: none;
}

@media (min-width: 800px) {
  .card-image-row {
    width: 500px !important;
  }
}

