@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,700&display=swap");
@font-face {
  font-family: BeautifulBloomRegular;
  font-weight: 400;
  src: url("./fonts/BeautifulBloom-Regular.ttf");
}

@font-face {
  font-family: BeautifulBloomAlt;
  font-weight: 400;
  src: url("./fonts/BeautifulBloom-Alt.ttf");
}

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:active {
  color: #faa38c;
}

a:hover {
  color: #faa38c;
  text-decoration: none;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: 'Abril Fatface', cursive;
}

.para {
  font-family: 'Karla', sans-serif;
}

.para-1 {
  font-size: 1.4rem;
}

.para-2 {
  font-size: 1rem;
}

.para-3 {
  font-size: 0.8rem;
}

.para-4 {
  font-size: 0.6rem;
}

h1, h2, h3 {
  font-family: 'BeautifulBloomRegular', sans-serif;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

a {
  color: inherit;
}

.text-bold {
  font-weight: bold;
}

.text-align-right {
  text-align: right;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.display-4 {
  font-size: 1.8rem;
}

.display-5 {
  font-size: 1.2rem;
}

.display-6 {
  font-size: .8rem;
}

section {
  margin: 6rem 0;
}

header {
  position: relative;
  background: url("../img/banner.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
}

header .navbar {
  padding-top: 10px;
  text-align: center;
}

header .navbar-nav {
  width: 100%;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar-nav--list {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
}

header .wedding--heading {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .wedding--heading .wedding-title {
  margin-bottom: 0;
}

header .wedding--heading .heading-5 {
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 2px;
  line-height: 0.1;
  font-size: 1.4rem;
}

header .bottom-dates {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

header .bottom-dates h2 {
  margin: 0;
}

header .wedding-date-display {
  line-height: 0.1;
}

header .wedding-month-display {
  margin-top: 1rem;
}

.on-top {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.header-1 {
  text-align: center;
  margin-bottom: 4rem;
}

.story-row:not(:first-child) {
  margin-top: 2rem;
}

.story__text {
  margin-top: 1rem;
}

.story__text--heading {
  font-weight: 500;
}

.about-couple__container-couple-image {
  width: 100%;
  display: block;
}

.about-couple__container-couple-image img {
  width: 100%;
}

.schedule {
  position: relative;
}

.schedule--flower {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.schedule--flower-1 {
  height: 459px;
  top: -160px;
  left: 67%;
}

.schedule--flower-2 {
  height: 500px;
  left: -20%;
  top: -7%;
}

.schedule--flower-3 {
  height: 244px;
  top: 78%;
  left: 73%;
}

.schedule--flower-4 {
  height: 125px;
  top: 81%;
  left: 47%;
}

.schedule--flower-5 {
  height: 300px;
  top: 76%;
  left: 7%;
}

.schedule--flower-6 {
  height: 100px;
  top: 21%;
  left: 45%;
}

.schedule--container {
  text-align: center;
  padding: 4rem 0;
}

.family__container--image-img {
  display: block;
  margin: 0 auto;
}

.family__container--text {
  text-align: center;
}

.family__container--text p {
  margin-top: 10px;
  margin-bottom: 0;
}

.contact {
  text-align: center;
}

.contact--container {
  display: block;
  margin: 0 auto;
}

.contact--container p {
  font-size: 1.4rem;
  font-weight: 600;
}

.only-mobile {
  display: none;
}

@media (max-width: 500px) {
  html {
    overflow-x: hidden;
  }
  body {
    text-align: center;
  }
  h1 {
    font-size: 5rem;
  }
  header {
    background-size: cover;
  }
  header .wedding--heading {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  header .wedding--heading .wedding-title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 25px;
  }
  header .wedding--heading .heading-5 {
    margin: 0;
    line-height: 1.1;
    letter-spacing: 0;
  }
  header .bottom-dates {
    display: none;
  }
  .only-mobile .wedding-date-display {
    line-height: 0.5;
    margin-bottom: 0px;
  }
  .only-mobile .wedding-month-display {
    margin-top: 0px;
  }
  .navbar {
    display: none;
  }
  .about-couple__container--couple {
    text-align: center;
  }
  .schedule--container {
    text-align: center;
  }
  .schedule--flower-3, .schedule--flower-4, .schedule--flower-5 {
    display: none;
  }
  .schedule--flower-1 {
    left: 53%;
  }
  .schedule--flower-2 {
    top: -5%;
    left: -52%;
  }
  .schedule--flower-6 {
    top: 32%;
    left: 68%;
  }
  .story--image {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */